.movie-details {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 12px;
  font-size: 14px;

  & progress {
    -webkit-appearance: none;
    appearance: none;
    width: 85px;
    display: block;
    height: 12px;
    border: 0;
    &[value] {
      width: 85px;
      height: 12px;
      appearance: none;
      border: none;
      &::-moz-progress-bar {
        background: rgb(251,0,0);
        background: linear-gradient(90deg, rgba(251,0,0,1) 0%, rgba(255,158,0,1) 50%, rgba(125,255,0,1) 100%);
        border-radius: 2px;
      }
      &::-webkit-progress-bar {
        background-color: #eee;
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
      }
      &::-webkit-progress-value {
        background: rgb(251,0,0);
        background: linear-gradient(90deg, rgba(251,0,0,1) 0%, rgba(255,158,0,1) 50%, rgba(125,255,0,1) 100%);
        border-radius: 2px;
        //background-size: 35px 20px, 100% 100%, 100% 100%;
      }
    }
  }

  & .movie-details__back {
    background: whitesmoke;
    position: relative;
    display: flex;
    height: 100%;
    flex-flow: column wrap;
    padding: 12px;
    max-width: 640px;
    max-height: 720px;
    margin: 0 auto;
    border-radius: 3px;
    & .movie-details__media-image {
      max-width: 240px;
      height: auto;
      align-self: center;
    }
    & .movie-details__subtitle {
      font-size: 14px;
      font-style: italic;
    }
    & h5, & h6 {
      margin: 0;
    }
    & .movie-details__close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 4px;
      color: white;
      background: red;
      width: 30px;
      height: 30px;
      border-bottom-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    & .movie-details__info {
      font-size: 14px;
      & .movie-details__row {
        display: flex;
        flex-flow: row nowrap;
        & .movie-details__col {
          display: flex;
          flex: 1;
          flex-flow: row nowrap;
          justify-content: start;
          align-items: center;
        }
      }
    }
    & .movie-details__video-container {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;
      & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    & .movie-details__overview {
      font-size: 1em;
      text-align: justify;
    }
    & .movie-details__group {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      &--between {
        @extend .movie-details__group;
        justify-content: space-between;
      }
    }
    & .movie-details__actions {
      display: flex;
      justify-content: start;
      flex: 1;
      align-items: end;
      flex-flow: row nowrap;
      font-size: 28px;
      & a {
        color:$bleached-cedar;
      }
      & .movie-details__actions-fav {
        margin: auto 0;
      }
      & .movie-details__actions-later {
        margin: auto 0;
      }
    }
  }
}